/* CUSTOM
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.first{
  max-width:500px;
}

.clickable {
  cursor: pointer;
}

.bio {
  padding-top: 5%;
}

.bio img {
  width: 40%;
}

.bio h6 {
  font-size: 1em;
  font-weight: 200;
  line-height: 1.5em;
}

.bio-text {
  padding-bottom: 15px;
  width: 250px;
  margin: 0 auto; 
}

.bio-buttons a{
  color: #000;
  text-decoration: none;
  margin: 7px;
}


.bio-buttons a:hover{
  color: #4078C0;
  text-decoration: none;
}

.no-dec{
  color: #000;
  text-decoration: none;
}

.no-padding {
  padding: 0;
  margin: 0;
}

.banner-text {
  color: #FFF;
  text-decoration: none;  
  text-shadow: 1px 1px 6px #000;
  margin-right:15px;
}

.banner-header {
  color: #000;
  text-decoration: none;  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 39px;
  text-align: right;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

.exit-modal {
  font-size: 1em;
}

/* text overlay images
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image { 
   position: relative; 
   max-width:500px; /* for IE 6 */
   cursor: pointer;
}

.image img {
  width:100%;
  -webkit-filter: grayscale(1);
}

.image img:hover {
  -webkit-filter: grayscale(0);
}

.image span { 
  position: absolute; 
  top: 62%;
  right: -2px;
  text-align: right;
  width: 100%; 
  font-size: 1.4em;
  line-height: 2;
}    

.web-image { 
   position: relative; 
   max-width:500px; /* for IE 6 */
   cursor: pointer;
}

.web-image img {
  width:100%;
  opacity: .7; 
  -webkit-filter: grayscale(60%);
}

.web-image img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
}

.web-image h2 { 
   position: absolute; 
   top: 60%;
   right: -7px;
   text-align: right;
   width: 100%; 
   font-size: 1.3em;
}  


/* back button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.back {
  display: inline-block;
  position: fixed;
  right: 20px;
  bottom: 10px;
}

/* banners 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.banner {
  padding: 5px;

}

.banner img {
  width: 100%;
  border-radius: 5px;
}

.banner-bg {
  background: #d8d8d8;
  padding: 10px; 
  border-radius: 2px;
}

.align-left {
  float: left;
}

/* hover image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  position: relative;
  overflow: hidden;
}
.item img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* web designs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.site-name {
  font-size: 1.2em;
}

.screenshots {
  margin-top: 5px;
  padding: 15px;
}

#webdesign .modal-content img {
  width: 100%;
}

#webdesign .row {
  padding-top: 5px;
  padding-bottom: 10px;
}

#graphicdesign .modal-content img{
  width: 100%;
}

.web-padding {
  margin-bottom: 25px;
}

.web-padding hr {
  padding: 1px;
  margin: 0;
}

#graphicdesign hr {
  padding: 3px;
  margin: 0;
}


.web-thumbs {
  width:25%;
  float:left;
  padding: 10px;
}

.web-thumb-bg {
  background-color: #EAEAEA;
}

.web-thumb-bg-round {
  background-color: #EAEAEA;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;  
  box-shadow: rgba(0,0,0,.15) 3px 3px 3px;
}

/* graphic design
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.graphic-thumbs {
  float:left;
  padding: 10px;
}

.graphic-2-col {
  width: 50%;
}

.graphic-3-col {
  width: 33%;
}

.graphic-3b-col {
  width: 17%;
}

.graphic-4-col {
  width: 25%;
}

.graphic-5-col {
  width: 20%;
}

.campaign-height {

  height: 250px;
  width: auto;
}
