/* CUSTOM
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.first{
  max-width:500px;
}

.clickable {
  cursor: pointer;
}

.bio {
  padding-top: 5%;
}

/* text overlay images
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image { 
   position: relative; 
   max-width:500px; /* for IE 6 */
   cursor: pointer;
}

.image img {
  width:100%;
}

.image span { 
  position: absolute; 
  top: 62%;
  right: -2px;
  text-align: right;
  width: 100%; 
  font-size: 1.4em;
  line-height: 2;
}    

.web-image { 
   position: relative; 
   max-width:500px; /* for IE 6 */
   cursor: pointer;
}

.web-image img {
  width:100%;
  opacity: .7; 
  -webkit-filter: grayscale(60%);
}

.web-image img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
}

.web-image h2 { 
   position: absolute; 
   top: 60%;
   right: -7px;
   text-align: right;
   width: 100%; 
   font-size: 1.3em;
}  


/* back button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.back {
  display: inline-block;
  position: fixed;
  right: 20px;
  bottom: 10px;
}

/* banners 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.banner {
  padding: 5px;
}

.align-left {
  float: left;
}

/* hover image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  position: relative;
  overflow: hidden;
}
.item img {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* web designs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.site-name {
  font-size: 1.2em;
}

.screenshots {
  margin-top: 5px;
  padding: 15px;
}

#webdesign .modal-content img {
  width: 100%;
}

#webdesign .row {
  padding-top: 5px;
  padding-bottom: 10px;
}

#graphicdesign .modal-content img{
  width: 100%;
}

.web-padding {
  margin-bottom: 25px;
}

.web-padding hr {
  padding: 1px;
  margin: 0;
}

#graphicdesign hr {
  padding: 3px;
  margin: 0;
}


.web-thumbs {
  width:25%;
  float:left;
  padding: 10px;
}

.web-thumbs img {
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.web-thumb-bg {
  background-color: #707070;
}

.web-thumb-bg-round {
  background-color: #707070;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  
}
